<div class="card" [ngStyle]="{ 'width': width, 'height': height, 'background-color': backgroundColor }">
  <div class="title">
    <p class="title-text">{{ title }}</p>
  </div>

  <div class="data">
    <!-- Avatar generado dinámicamente -->
    <div class="avatar-container">
      <img [src]="avatarImageUrl" alt="Avatar" />
    </div>

    <p>{{ data | number }}</p> <!-- Formato de número -->

    <div class="range">
      <div class="fill" [style.width]="progress + '%'"></div>
    </div>
  </div>
</div>
