<div class="wrapper">
    <div class="card-switch">
      <label class="switch">
        <input class="toggle" type="checkbox" (change)="toggleAction()">

        <span class="slider"></span>
        <span class="card-side"></span>
        <div class="flip-card__inner">
          <!-- Formulario de Login -->
          <div class="flip-card__front">
            <div class="title">Inicia sesión</div>
            <form [formGroup]="loginForm" class="flip-card__form">
              <input formControlName="email" type="email" placeholder="Correo electrónico" class="flip-card__input">
              <input formControlName="password" type="password" placeholder="Contraseña" class="flip-card__input">
              <button class="flip-card__btn" (click)="login()">Confirmar!</button>
            </form>
          </div>
  
          <!-- Formulario de Registro -->
          <div class="flip-card__back">
            <div class="title">Regístrate</div>
            <form [formGroup]="registerForm" class="flip-card__form">
              <input formControlName="fullName" type="text" placeholder="Nombre completo" class="flip-card__input">
              <input formControlName="email" type="email" placeholder="Correo electrónico" class="flip-card__input">
              <input formControlName="password" type="password" placeholder="Contraseña" class="flip-card__input">
              <button class="flip-card__btn" (click)="register()">Confirmar!</button>
            </form>
          </div>
        </div>
      </label>
    </div>
  </div>
  