$gray-dark: #323232;
$gray-light: #fff;
$gray-mid: #E5E7EB;
$accent: #10B981;  // Green accent color

.sidebar {
  width: 250px;
  height: 96vh;
  background-color: $gray-light;
  box-shadow: 10px 10px $gray-dark;
  border: 3px solid $gray-dark;
  padding: 0.5rem;  // Reduced padding
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow-y: hidden;  // Enable vertical scrolling if content exceeds the max height
  background-color:#B5DADE;
  position:fixed;
  left: 0.5rem;  // Adjusted position
  top: 0.2rem;  // Adjusted position

  .sidebar-header {
    text-align: center;
    font-size: 1rem;  /* Reduced font size */
    font-weight: bold;
    color: #6B6B6B;  /* Adjust to your gray-dark color */
    border-bottom: 1px solid #6B6B6B;  /* Reduced border thickness */
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    list-style: none;

    li {
      margin: 0.5rem 0;  // Reduced margin

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $gray-dark;
        padding: 0.5rem 0.75rem;  // Reduced padding
        font-size: 0.875rem;  // Slightly reduced font size
        font-weight: 600;
        border-radius: 12px;
        border: 2px solid transparent;
        transition: all 0.3s ease;
        background-color: #7ccad3;


        &:hover {
          background-color: #FACDAE;
          border-color: black;
          color: black;
        }

        i {
          margin-right: 0.75rem;  // Reduced margin
          font-size: 1.125rem;  // Slightly reduced font size
        }
      }
    }
  }
}

.sidebar-header h2 {
  font-size: 18px;  // Reduced font size
  color: $gray-dark;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar-menu li a {
  padding: 0.5rem 0.75rem;  // Reduced padding
  background-color: $gray-light;
  color: $gray-dark;
  border-radius: 10px;
  border: 2px solid $gray-dark;
  box-shadow: 4px 4px $gray-dark;
  transition: 0.2s ease;
  font-size: 0.875rem;  // Reduced font size
  font-weight: 600;

  &:hover {
    background-color: $gray-mid;
    box-shadow: 8px 8px $gray-dark;
  }

  i {
    font-size: 1.125rem;  // Reduced font size
  }
}
