
$gray-dark: #323232;
$gray-light: #fff;
$gray-mid: #E5E7EB;
$accent: #10B981;  // Green accent color

  .admin-content {
    flex-grow: 1;
    padding: 40px; /* M치s espacio alrededor del contenido */
    margin-left: 280px; /* Ajuste por el sidebar m치s ancho */
    max-width: 1400px; /* M치s ancho el contenido */
    width: calc(100% - 280px);
    font-size: 20px; /* Aumentar tama침o de texto en general */
   
    /* Fondo con imagen */
  background-image: url('/recursos/images/br.jpg');
  background-size: cover; /* Para que cubra todo */
  background-position: center;
  background-repeat: no-repeat;
  }


  .main-content {
    width: 82vw; /* Full width of the viewport */
    height: 88vh;
    background-color: #CCE0D4; /* Updated background color */
    box-shadow: 10px 10px $gray-dark;
    border: 3px solid $gray-dark;
    padding: 0.5rem;  /* Reduced padding */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow-y: hidden;  /* Enable vertical scrolling if content exceeds the max height */
    position: fixed;
    left: 19rem;  /* Align to the left edge */
    top: 5rem;  /* Align to the top of the page */
    z-index: 1;
}
