
$gray-dark: #323232;
$gray-light: #fff;
$gray-mid: #E5E7EB;
$accent: #10B981;  // Green accent color

  .admin-content {
    flex-grow: 1;
    padding: 40px; /* Más espacio alrededor del contenido */
    margin-left: 280px; /* Ajuste por el sidebar más ancho */
    max-width: 1400px; /* Más ancho el contenido */
    width: calc(100% - 280px);
    font-size: 20px; /* Aumentar tamaño de texto en general */
   
    /* Fondo con imagen */
  background-image: url('/recursos/images/br.jpg');
  background-size: cover; /* Para que cubra todo */
  background-position: center;
  background-repeat: no-repeat;
  }


.main-content {
    width: 82vw; /* Full width of the viewport */
    height: 88vh;
    background-color: #CCE0D4; /* Updated background color */
    box-shadow: 10px 10px $gray-dark;
    border: 3px solid $gray-dark;
    padding: 0.5rem; /* Reduced padding */
    display: flex;
    flex-direction: column; /* ✅ Cards stack vertically */
    align-items: center; /* ✅ Center cards horizontally */
    justify-content: flex-start; /* ✅ Start filling from the top */
    gap: 1rem; /* ✅ Add spacing between cards */
    border-radius: 20px;
    overflow-y: auto; /* ✅ Enable vertical scrolling if needed */
    position: fixed;
    left: 19rem; /* Align to the left edge */
    top: 5rem; /* Align to the top of the page */
    z-index: 1;
}
