.imagen-contenedor {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 20px; /* Espacio superior */
  }
  
  img {
    max-width: 100%; /* Hace que la imagen no se desborde del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
  }