/* You can add global styles to this file, and also import other style files */
$gray-dark: #323232;
$gray-light: #fff;
$gray-mid: #E5E7EB;
$accent: #10B981;  // Green accent color

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
